.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 984px;
  width: calc(100% - 2 * 148px);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 2 * 48px);
  }
}
