.main {
  display: flex;
  flex-direction: column;
  row-gap: 92px;
}

@media screen and (max-width: 1023px) {
  .main {
    row-gap: 88px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    row-gap: 64px;
  }
}
