.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 28px auto 56px auto;
    width: calc(100% - 2 * 48px);
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 2 * 24px);
  }
}
