.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  padding-left: 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}
