.place {
  display: grid;
  grid-template-columns: calc((460/984)*100%) 1fr;
  gap: 48px 40px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: calc((440/928)*100%) 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: calc((340/720)*100%) 1fr;
    gap: 48px 28px;
  }
}
